<div class="container">
    <h2 class="text-center">Find Trains</h2>
    <div class="row mt-3">
        <div class="col-6">
            <form>
                <div class="row">
                    <div class="col">
                        <label for="FromStation" class="form-label">From Station</label>
                        <select class="form-select form-select-lg" aria-label="Small select example">
                            <option selected>From Station</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="ToStation" class="form-label">To Station</label>
                        <select class="form-select form-select-lg" aria-label="Small select example">
                            <option selected>To Station</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3"  id="datepicker">
                    <label for="date" class="form-label">Choose a Date</label>
                    <input type="date" class="form-control-lg">
                </div>
                <div class="row mt-3">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <img src="https://cdn1.tripoto.com/media/filter/tst/img/2150829/Image/1685864143_the_hindu.jpeg.webp"
                alt="Railway" />
        </div>
    </div>
</div>